:root {
  --red:  rgb(219, 80, 20);
  --blue: rgb(20, 160, 219);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
}

body{
    margin:0;
    padding:0;
    background-color: var(--blue);
  }
  
  body, button{
    font-family: 'Fira Sans', sans-serif;
  }
  
  div{
    margin:15%;
  }
  
  h1{
    font-size: 4em;
  }
  
  button{
    width: 100px;
    height:100px;

    background-color: var(--white);
    border-radius: 50px;

    font-size: 1.2em;
    font-weight: 700;
  }
  
  button:hover{
    background-color: var(--red);
  }
  
  button:active{
    outline-style: groove var(--black);
  }
  
  h2{
    font-size:1.5em;
  }

  #name {
    font-size:2em;
  }